<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">logs/log4j</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c{10} - %m %ex%n"/>
        </Console>
        <RollingFile name="FILELOGGER" fileName="${basePath}/log4g2.log" filePattern="${basePath}/log4g2-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern= "[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <JDBC name="DBLOG" tableName="APP_LOGS">
            <DriverManager connectionString="jdbc:mysql://localhost:3306/my_blog"
                           username="root" password="npatfb4psdf"/>
            <Column name="LOG_ID" pattern="%u" isUnicode="false"/>
            <Column name="ENTRY_DATE" isEventTimestamp="true" isUnicode="false" />
            <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
            <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
            <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
            <Column name="EXCEPTION" pattern="%throwable " isUnicode="false"/>
        </JDBC>
    </Appenders>


    <Loggers>
        #Root logger
        <Root level="TRACE">
            <appender-ref ref="CONSOLE"/>
        </Root>
        #Business logger
        <Logger name="task22.dao.user.UserDaoImpl" level="INFO" additivity="false">
            <appender-ref ref="DBLOG" level = "INFO" />
            <appender-ref ref="FILELOGGER" level = "INFO" />
        </Logger>

    </Loggers>
</Configuration>